certifi
chardet
click
Faker
Flask
Flask-SQLAlchemy
gevent
greenlet
grequests
idna
itsdangerous
Jinja2
lxml
MarkupSafe
mysqlclient  # Ganti dari MySQL-python
PyJWT
python-dateutil
python-docx
PyYAML
requests
six
SQLAlchemy
tornado
urllib3
Werkzeug
zapv2
